{% extends "base.html" %}
{% load static %}

<!-- End Header Type 2 -->


{% block title %}Любими{% endblock %}

{% block content %}

<main class="main checkout">
        <div class="page-content pt-7 pb-10 mb-10">
          <div class="step-by pr-4 pl-4">
            <h3 class="title title-simple title-step">
              <a href="cart.html">1. Shopping Cart</a>
            </h3>
            <h3 class="title title-simple title-step active">
              <a href="checkout.html">2. Checkout</a>
            </h3>
            <h3 class="title title-simple title-step">
              <a href="order.html">3. Order Complete</a>
            </h3>
          </div>
          <div class="container mt-7">

             <form action="{% url 'checkout' %}" method="post" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
                <h3 class="title title-simple text-left text-uppercase">Данни</h3>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="col-xs-6">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </div>
                {{ form.company_name.label_tag }}
                {{ form.company_name }}
                {{ form.country.label_tag }}
                <div class="select-box">
                    {{ form.country }}
                </div>
                {{ form.address1.label_tag }}
                {{ form.address1 }}
                {{ form.address2.label_tag }}
                {{ form.address2 }}
                <div class="row">
                    <div class="col-xs-6">
                        {{ form.city.label_tag }}
                        {{ form.city }}
                    </div>
                    <div class="col-xs-6">
                        {{ form.state.label_tag }}
                        {{ form.state }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        {{ form.zip_code.label_tag }}
                        {{ form.zip_code }}
                    </div>
                    <div class="col-xs-6">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                    </div>
                </div>
                {{ form.email.label_tag }}
                {{ form.email }}
                <div class="form-checkbox mb-0">
                    {{ form.create_account }}
                    {{ form.create_account.label_tag }}
                </div>
                <div class="form-checkbox mb-6">
                    {{ form.different_address }}
                    {{ form.different_address.label_tag }}
                </div>
                <h2 class="title title-simple text-uppercase text-left">Бележка</h2>
                {{ form.order_notes.label_tag }}
                {{ form.order_notes }}
            </div>
            <aside class="col-lg-5 sticky-sidebar-wrapper">
                <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
                    <div class="summary pt-5">
                        <h3 class="title title-simple text-left text-uppercase">Поръчка</h3>
                        <table class="order-table">
                            <thead>
                                <tr>
                                    <th>Продукти</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Example of a product -->
                               {% for item in cart_items %}
                                <tr>
                                    <td class="product-name">{{ item.product.title }} <span class="product-quantity">× {{ item.quantity }}</span></td>
                                    <td class="product-total text-body">{{ item.subtotal }} лв.</td>
                                </tr>
                            {% endfor %}


                                <tr class="summary-total">
                                    <td class="pb-0"><h4 class="summary-subtitle">Общо</h4></td>
                                    <td class="pt-0 pb-0"><p class="summary-total-price ls-s text-primary">{{ total }} лв.</p></td>
                                </tr>
                            </tbody>
                        </table>



                        <button type="submit" class="btn btn-dark btn-rounded btn-order">Поръчай</button>
                    </div>
                </div>
            </aside>
        </div>
    </form>
          </div>
        </div>
      </main>

{% endblock %}